ACCESS_TOKEN=myaccesstoken
ZENODO_SANDBOX=true
ECHOREPO_API_KEY=myapikey
ZENODO_API_BASE=https://echorepo.quanta-labs.com/api/v1
ZENODO_API_PATH=/canonical/zenodo_bundle.zip
ZENODO_LOG_FILE=data/zenodo_sync_log.csv
ZENODO_DEPOSITION_ID=123456
ZENODO_TITLE="My Dataset Title"
ZENODO_DESCRIPTION="My Dataset Description"
ZENODO_CREATOR="My Dataset Creator|My Organization|My ORCID"
ZENODO_GRANT=123456789
ZENODO_COPYRIGHT="© 2026 My Soil Project"
ZENODO_KEYWORD="soil,biodiversity,citizen-science"
ZENODO_SUBJECT="Soil science|http://id.loc.gov/authorities/subjects/sh85124022|url"