services:
  echorepo-lite:
    build: .
    image: echorepo-lite:latest
    env_file:
      - .env
    environment:
      APP_ENV: ${APP_ENV:-prod}
      # tell the app where Postgres is
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: echorepo
      DB_USER: echorepo
      DB_PASSWORD: ${POSTGRES_PASSWORD:-echorepo-pass}
    expose:
      - "8000"
    volumes:
      - ./data:/data
      - ./static:/app/static:ro
      - ./echorepo/templates:/app/echorepo/templates:ro
      - ./keys:/keys:ro
      - ./echorepo/translations:/app/echorepo/translations
      - ./translations:/app/translations:ro
      - ./storage:/data/storage
    restart: unless-stopped
    networks:
      - default
      - echorepo-shared
    depends_on:
      - postgres   # <--- make sure postgres is up first

  postgres:
    image: postgres:16
    container_name: echorepo-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: echorepo
      POSTGRES_USER: echorepo
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-echorepo-pass}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - default
      - echorepo-shared
    ports:
      - "5432:5432"
  libretranslate:
    profiles: ["devtools"]
    image: libretranslate/libretranslate:latest
    container_name: libretranslate
    ports:
      - "5001:5000"
    environment:
      LT_LOAD_ONLY: en,cs,de,el,es,fi,fr,it,nl,pl,pt,ro,sk
    restart: unless-stopped
    networks:
      - default

  i18n:
    profiles: ["devtools"]
    build:
      context: .
      dockerfile: Dockerfile.i18n
    working_dir: /work
    command: ["tail", "-f", "/dev/null"]
    volumes:
      - .:/work
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      LT_URL: "http://libretranslate:5000"
    depends_on:
      - libretranslate
    networks:
      - default

volumes:
  pgdata:   # <--- persistent Postgres data

networks:
  echorepo-shared:
    external: true
